.cart-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 890px 12px 45px 12px 141px;
  grid-template-columns: 890px 45px 141px;
  margin: 0;
  padding: 20px 0;
  gap: 0 12px;
  width: 1100px;
  border-top: #E5E5E5 1px solid;
}
.cart-product .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 607px;
}
.cart-product .info .brand {
  margin-bottom: 16px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 27px;
}
.cart-product .info .product-name {
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 27px;
}
.cart-product .info .price {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 18px;
}
.cart-product .image {
  position: relative;
  width: 141px;
  height: 185px;
}
.cart-product .image img {
  width: 100%;
  height: 100%;
}
.cart-product .amount .amount-button {
  width: 45px;
  height: 45px;
  font-size: 2rem;
  font-weight: 100;
}

.cart-option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 64px 12px 80px;
  grid-template-columns: 64px 80px;
  grid-gap: 12px;
  width: 64px;
  height: 45px;
}
.cart-option .trash-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  color: #1D1F22;
  font-size: 1.4rem;
  border-radius: 100px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.cart-option .trash-icon .icon {
  height: 22px;
}
.cart-option .trash-icon:hover {
  cursor: pointer;
  fill: #fff;
  background: #1D1F22;
}

.delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #be2f2f;
}

.switch {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-radius: 1px;
  cursor: pointer;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}
.switch:hover {
  border-color: #E5E5E5;
}

.switch-left {
  top: 48%;
  left: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.switch-right {
  top: 48%;
  right: 5px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.switch-up {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.switch-down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}