$green-color: #5ECE7B;
$black-color: #1D1F22;

/////////////////////////////

.category-title {
    margin: 0 0 85px 16px;
    font-size: 2.625rem;
    font-family: "Raleway";
    font-weight: 400;

    @media (max-width: 1280px){
        margin:  0 0 45px 16px;
    }
}

/////////////////////////////


#header {
    padding-top: 24px;
    margin-bottom: 80px;
    height: 56px;
    @media (max-width: 1280px) {
        margin-bottom: 40px;
    }
}

.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1220px;
    // height: 100%;
    @media (max-width: 1280px) {
            max-width: 970px;
    }
}

.header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;

    height: 100%;

    font-size: 1rem;
    font-family: "Raleway";
    font-weight: 400;

    color: $black-color;
}

.header-logo{
    position: absolute;
    right: 45%;

    font-size: 1.2rem;  
    font-weight: 600;

    @media (max-width: 770px) {
        display: none;
    }
}

.header-nav {
    display: flex;

    @media (max-width: 600px) {
            display: none;
    }
}

.category-mobile {
    position: relative;
    display: none;
    padding: 0 16px;
    .switch  {
        right: 0;
        top: 10%;

        width: 4px;
        height: 4px;

        border-color: $black-color;
    }

    .category-list {
        display: none;
        background-color: #fff;
    }

    &:hover {
        .category-list {
            display: inline;
        }
    }

    .nav-link {
        padding: 0;
        margin: 10px 0;
        border-bottom: 1px solid transparent;
    }
}

@media (max-width: 600px) {
    .category-mobile {
        display: inline;
    }
}

.nav-link {
    text-decoration: none;
    padding: 0 16px;
    color: $black-color;
    
    cursor: pointer;
    transition: 0.1s linear;
    
    &:hover {
        font-weight: 600;
        color: $green-color;
        border-bottom: $green-color 2px solid;
    }
}
    
.active-nav-link {
    font-weight: 600;
    color: $green-color;
    border-bottom: $green-color 2px solid;
}
.header-action {
    display: flex;
    justify-content: space-between;

    .icon{   
        position: relative;
        padding: 0px 10px 10px 10px;
        margin-left: 18px;
        transition: 0.15s ease;
        &:hover {
            fill: $green-color;
        }
    }
}

.currensy-icon{
    position: relative;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    user-select: none;

    transition: 0.15s ease;
    .switch{
        position: absolute;
        top: 10%;
        left: 20px;
        width: 4px;
        height: 4px;
        border-color: $black-color;
        transition: 0.15s ease;
        &:hover {
            border-color: $green-color;
        }
    }    

    &:hover {
        color: $green-color;
        
        .switch {
            border-color: $green-color;
        }
    }
}

.blackout {
    position: fixed;
    left: 0;
    z-index: 4;

    display: none;

    width: 100vw;
    height: 100vh;
    background: rgba(57, 55, 72, 0.22);
}

.cart-icon {
    position: relative;
    height: 16px;
    transition: 0.15s ease;
    cursor: pointer;
    &:hover {
        fill: $green-color;
    }
}

.icon {
    height: 16px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb9b9;
    border-radius: 10px;
}  

::-webkit-scrollbar {
    -webkit-appearance: none;
}